@import url("https://fonts.googleapis.com/css?family=Poppins:wght@200;400&display=swap");

/* Generic Styles */
*,
*::before,
*::after {
  box-sizing: border-box;

  margin: 0;
  padding: 0;

  text-decoration: none;
  list-style: none;
}

body {
  background-color: rebeccapurple;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}